:root {
  --accent: #384eaf;
  --accent-light: #8ab5dd;
  --pure-white: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
}

.section-title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.header {
  background-color: var(--accent);
}

.header a {
  color: var(--pure-white);
  text-decoration: none;
}

.header-nav {
  min-height: 51.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 20%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 3px;
}

.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  transition: background-color 0.4s;
  padding: 15px;
}

.header-menu-link:hover {
  background-color: var(--accent-light);
}

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.intro-left {
  width: 30%;
}

.intro-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.intro-right {
  width: 60%;
}

.intro-right h1,
.intro-right h3 {
  margin: 0 0 10px;
}

.contacts {
  margin-bottom: 60px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills {
  color: var(--pure-white);
  background-color: var(--accent);
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 5px;
}

.code-example {
  text-align: center;
}

.code-example p {
  font-style: italic;
}
.code-example b {
  font-style: normal;
}

.code-example pre {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  background-color: var(--accent);
  color: var(--pure-white);
  border-radius: 8px;
}

.languages {
  padding: 60px 0;
}

.languages ul {
  margin-left: 250px;
}

.languages li {
  padding: 6px 0;
}

.education {
  color: var(--pure-white);
  background-color: var(--accent);
  padding: 50px 0;
}

.education li {
  padding: 5px 0;
}

.footer p {
  text-align: center;
}
